<div class="top_header">
  <h1 class="label label-primary">ツイート詳細画面</h1>
</div>
<br>
<div class="main_header">
  <p class="label label-primary">投稿内容</p>
</div>
<div class="text_box">
  <p><%= @tweet.content %></p>
</div>
<br>
<%= link_to "ツイート一覧画面にもどる", tweets_path, class: 'btn btn-primary' %>
