.top_header{
  padding: 20px;
  font-size: 25px;
}
.main_header{
  padding: 20px;
  font-size: 25px;
}
.text_box {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
}
.text_box p {
    margin: 0;
    padding: 0;
}
