.navbar-brand{
  float: left;
  height: 50px;
  font-size: 30px;
  line-height: 20px;
}
.center-block{
  height: 40px;
  font-size: 30px;
}
.mainTop{
  font-size: 30px;
}
.headerRight{
  padding-right: 20px;
}
